.checkbox {
    display: flex;
    align-items: center;
    width: 200px;
    margin: 1rem;
}

.checkbox input {
    display: none;
}

.checkbox label {
    --size: 1.5rem;
    display: flex;
    align-items: center;

    height: var(--size);
    width: calc(var(--size) * 2);

    background-color: #dfe4ea;
    border-radius: var(--size);
    margin-right: 0.5rem;

    transition: background-color var(--duration);
}

.checkbox label .ball {
    --span-size: 0.2rem;
    --ball-size: calc(var(--size) - (var(--span-size) * 2));

    position: relative;
    left: var(--span-size);

    height: var(--ball-size);
    width: var(--ball-size);
    background-color: white;
    border-radius: 50%;

    transition: left var(--duration) linear;
    animation: enlarge1 var(--duration) linear forwards;
}

.checkbox input:checked+label {
    background-color: #2ed573;
}

.checkbox input:checked+label .ball {
    left: calc(100% - (var(--ball-size) + var(--span-size)));
    animation: enlarge var(--duration) linear forwards;
}

@keyframes enlarge {
    50% {
        transform: scale(1.2);
    }
}

@keyframes enlarge1 {
    50% {
        transform: scale(1.2);
    }
}

.preference{
    background-color: rgba(0, 0, 0, .8);
    color: white;
    border-radius: 30px;
    height: auto;
    width: auto;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.checkboxs{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    min-width: 500px;
    max-width: 1000px;
    flex-flow: wrap;
}

.h-inner {
    padding-top: 116px;
    border-radius: 30px;
    height: auto;
    width: auto;
    margin: 20px;
    background-position: right;
    background-size: cover;
    transition: background-image .2s ease,background-size 1s ease;
    padding-top: 116px;
    position: relative;
}



.user-info{
    margin-left: 20px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    vertical-align: baseline;
}

#h-name {
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;
    line-height: 18px;
    font-size: 18px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}

#h-sign {
    color:rgb(255, 255, 255);
    margin-top: 6px;
    background: transparent;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    font-size: 12px;
    font-family: Microsoft Yahei;
    height: 26px;
    margin-left: -5px;
    padding: 0 5px;
    position: relative;
    top: -1px;
    width: 200px;
    touch-action: manipulation;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

input::-webkit-input-placeholder { /* WebKit browsers */ 
    color:rgb(255, 255, 255);; 
    } 
    
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color:rgb(255, 255, 255);; 
    } 
    
    input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color:rgb(255, 255, 255);;
    } 
    
    input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color:rgb(255, 255, 255);;
    } 



#h-sign:focus {
    background: #fff;
    box-shadow: inset 0 2px 4px rgb(35 54 86 / 30%);
    color: #6d757a;
}

.h .h-basic .h-basic-spacing {
    margin-top: 6px;
}

.h-basic{
    margin-left: 22px;
}

#user{
    vertical-align: middle;
    margin-left: 15px;
    height: 60px;
    width: 60px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    
}

.avatar-container{
    position: relative;
}


.avatar-cover {
    margin-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: rgba(0,0,0,.6);
    font-size: 12px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    opacity: 0;
    border-radius: 50%;
    transition: opacity .2s;
}

.auto_play{
    margin: 0 auto;
    margin: 1rem;

}


.auto_play{
    width: 20px;
    height: 20px;
    appearance: none;
    position: relative;
}
.auto_play:before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #7d7d7d;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}
.auto_play:checked:before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #2ed573;
    background:#2ed573;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}
.auto_play:checked:after{
    content: '';
    width: 10px;
    height:5px;
    border: 2px solid white;
    border-top: transparent;
    border-right: transparent;
    text-align: center;
    display: block;
    position: absolute;
    top: 6px;
    left:5px;
    vertical-align: middle;
    transform: rotate(-45deg);
}

.radio{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    min-width: 500px;
    max-width: 1000px;
    justify-content: flex-start;
    align-items: left;
}

.radio_div{    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: auto;
}
.radio_div span{
    width: auto;
}

@media screen and (max-width:600px){
    .preference{
        flex-flow: nowrap;
        flex-direction:column;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .preference::-webkit-scrollbar {
        width: 0 !important;
        display: none;
      }    


    .checkboxs {
        flex-flow: nowrap;
        flex-direction:column;
        /* overflow: scroll; */
        min-width: auto;
        max-width: auto;
        margin: 0 0;

        /* -webkit-overflow-scrolling: touch;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        scrollbar-width: none; */
    }

    /* .checkboxs::-webkit-scrollbar {
        width: 0 !important;
        display: none;
      }       */


      /* 隐藏 IE、Edge 和 Firefox 的滚动条 */
    .checkbox{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 90%;
    }


    
}