* {
    margin: 0;
    padding: 0;
  }

html,body{
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}


#right{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}



#left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    height: 100%;
    width: 80px;
    background-color: rgb(0,49,79);
    transition: 0.4s;
}
#left:hover{
    width: 195px;
}
#left a{
    /* overflow: hidden; */
    margin: 0 auto;
    line-height: 50px;
    color: rgb(113, 150, 159);
    height: 50px;
    width: 88%;
    border-radius: 5px;
    position: relative;
}

#left a:nth-of-type(1)::before,#left a:nth-of-type(5)::before{
    content: "";
    position: absolute;
    bottom: -8px;
    width: 100%;
    /* border-bottom: 1px solid rgb(165, 173, 201); */
    margin-bottom: 8px;

}
#left a img{
   
    vertical-align: middle;
    margin-left:15px;
    height: 35x;
    width: 35px;
}
#left span{
    position:absolute;
    white-space: nowrap;
    transition: 0.4s;
    opacity: 0;
    margin-left: 8px;
    top: 2px;
}
#left a:hover{
    color: black;
    background-color: rgba(204, 204, 204,0.5);
}
#left a:hover:nth-of-type(1){
    color: black;
    background-color: rgb(0,49,79);;
}
#left:hover span{
   opacity: 1;
}


.no_search_div{
    height: 20%;
}

.search_div{
    height: 0px;
    transition: 1s;
}


.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image:linear-gradient(90deg, #70e1f5 0%,#ffd194 100%);
    
}
.search-bar{ 
    margin: 0 auto;
    display: flex;
    width: 240px;
    background: rgb(0,49,79);
    height: 40px;
    border-radius: 40px;
    padding: 10px; 
    max-width: 600px;
    transition: 1.5s;
}

.search-bar:hover .search-txt {
    width: 100%;
    padding: 0 6px;
}

 .search-bar:hover{
    width: 80%;
    transition: 1.5s;
}

.search-btn{
    color: #70e1f5;
    /* float: right; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(0,49,79);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    /* transition: 0.8s; */
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(255, 255, 255) ;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 100%;
    max-width: 600px;
}

.search_history{
    display: flex;
    margin:0 auto;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: hidden;
    margin: 30px auto;
    max-width: 1000px;
    width: 80%;
    height: 76px;
}

.history_span {
    display: block;
    box-sizing:border-box;
    background-color: rgba(255,255,255,0.5);
    margin:3px ;
    padding: 5px;
    border-radius: 30px;
    color: grey;
    overflow: hidden;

}



.history_span:hover{
    color: black;
    overflow: hidden;

    
}


ul {
    background-color: yellow;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: max-height;
    height: auto;
    max-height: 0;
  }
  
  ul.active {
    max-height: 600px;
  }


.no_search_content_box{
    height: 0px;
}

.searched_content_box{
    height: 0px;
}

